 <section>
    <h2>Mijn gevolgde vakken:</h2>
    <p>Een overzicht van de vakken die ik tot nu toe gevolgd heb, en hoe ik deze heb ervaren.
    </p>
    <!--Kon geen header krijgen ivm flex wrap styling-->
    <article class="tabellen" >
      <table>
        <tr >
          <th>Gevolgd vak:</th>
          <th>Cijfer</th>
          <th>Ervaring</th>
          <th>Studiepunten</th>
          <th>Gehaald?</th>
        </tr>
        <tr *ngFor="let resultaat of resultaten.slice(0, 8)">
          <th>{{resultaat.courseName}}</th>
          <td>{{resultaat.grade}}</td>
          <td>{{resultaat.experience}}</td>
          <td>{{resultaat.ect}}</td>
          <td>
            <input *ngIf='resultaat.grade >= 5.5' type="checkbox" checked disabled>
            <input *ngIf='resultaat.grade < 5.5'type="checkbox" disabled>
          </td>
        </tr>
      </table>
      <!--hier begint tabel 2-->
      <table>
        <tr >
          <th>Gevolgd vak:</th>
          <th>Cijfer</th>
          <th>Ervaring</th>
          <th>Studiepunten</th>
          <th>Gehaald?</th>
        </tr>
        <tr *ngFor="let resultaat of resultaten.slice(8, 16)">
          <th>{{resultaat.courseName}}</th>
          <td>{{resultaat.grade || '-'}}</td>
          <td>{{resultaat.experience}}</td>
          <td>{{resultaat.ect}}</td>
          <td>
            <input *ngIf='resultaat.grade && resultaat.grade >= 5.5' type="checkbox" checked disabled>
            <input *ngIf='!resultaat.grade || resultaat.grade < 5.5' type="checkbox" disabled>
          </td>
        </tr>
      </table>
    </article>
  </section>
