<h1>portfolio</h1>
<header class="header">
  <nav>
    <ul class="nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/over-mij">Over mij</a></li>
      <li><a routerLink="/projecten">Projecten</a></li>
      <li><a routerLink="/resultaten">Resultaten</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <section>
    <h2>Over mij:</h2>
    <p>Een overzicht van de vakken die ik tot nu toe gevolgd heb, en hoe ik deze heb ervaren.
    </p>
    <!--Kon geen header krijgen ivm flex wrap styling-->
    <article class="tabellen">
      <table>
        <tr >
          <th>Gevolgd vak:</th>
          <th>Cijfer</th>
          <th>Ervaring</th>
          <th>Aantal studiepunten</th>
          <th>Gehaald?</th>
        </tr>
        <tr>
          <th>HCI</th>
          <td>6</td>
          <td>Uitdagend</td>
          <td>3</td>
          <td><input type="checkbox" checked disabled> </td>
        </tr>
        <tr>
          <th>UCD</th>
          <td>8</td>
          <td>Positief</td>
          <td>3</td>
          <td><input type="checkbox" checked disabled> </td>
        </tr>
        <tr>
          <th>Ontwerpg.</th>
          <td>7</td>
          <td>Positief</td>
          <td>3</td>
          <td><input type="checkbox" checked disabled> </td>
        </tr>
        <tr>
          <th>Project sport</th>
          <td>8</td>
          <td>Uitdagend</td>
          <td>5</td>
          <td><input type="checkbox" checked disabled> </td>
        </tr>
        <tr>
          <th>InternetS.</th>
          <td>t.d.</td>
          <td>Uitdagend</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>ISGA</th>
          <td>t.d.</td>
          <td>Positief</td>
          <td>5</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>Content</th>
          <td>t.d.</td>
          <td>Positief</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>Vormgeving</th>
          <td>t.d.</td>
          <td>Positief</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
      </table>
      <!--hier begint tabel 2-->
      <table>
        <tr>
          <th>Gevolgd vak:</th>
          <th>Cijfer</th>
          <th>Ervaring</th>
          <th>Aantal studiepunten</th>
          <th>Gehaald?</th>
        </tr>
        <tr>
          <th>Webapplicaties</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>V.I. design</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>Product dev.</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>project 3</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>5</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>Inleiding Prog.</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>Informatie arch.</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>Maatschap en int.</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>3</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
        <tr>
          <th>Project 4</th>
          <td>t.d.</td>
          <td>t.d.</td>
          <td>5</td>
          <td><input type="checkbox" disabled> </td>
        </tr>
      </table>
    </article>
  </section>
</main>
<footer class="footer">
  <p> copyright by C.C.Valk</p>
</footer>
