

img {
  height: 15em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.logo {}

.logo2 {}

/*
hier begint de css van de tabellen
*/
th, td, table {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  color: #000000;
  font-family: Avenir;
  color: grey;
}

table {
  text-align: center;
  border: black;
  border-width: medium;
  max-width: 50%;
  margin-bottom: 2%;
}

.tabellen {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 700px;
}

/*
Hier nog een oplossing maken met child van. tip van Niels.
bron van Niels: https://www.w3.org/Style/Examples/007/evenodd.en.html
*/
tr:nth-child(odd) {
  background-color: wheat;
}

tr:nth-child(even) {
  background-color: beige;
}
