.nav>li {
  background-image: url(src/assets/images/round.svg);
  background-repeat: no-repeat;
  background-position: left;
  max-width: 50px;
  padding-left: 30px;
  white-space: nowrap;
  padding-right: 50px;
}

a{
  font-family: "Avenir Next Condensed";
  font-style: normal;
  color: grey;
  font-size: large;
}


.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 1em;
  margin: 0;
  border-collapse: collapse;
  background-color: wheat;
  font-style: oblique;
  list-style: none;
}
