 <article class="aboutme">
    <h2>Over mij:</h2>
    <p>Allereerst bedankt voor je interesse in mijn werk! <br />
      Mijn naam is <strong>Chantal Valk</strong>, ik ben student aan de Hogeschool van Amsterdam en ik studeer CMD.<br />
      Op 26-8-2019 ben ik begonnen met mijn studie en inmiddels heb ik mijn eerste jaar bijna goed afgerond.
    <p>Ik ben geboren op 10 januari in 1996 (Nog een echte 90's baby). En mijn hobby's zijn: In teams online gamen(not much of a suprise there hah?), motorrijden,
      op allerlei manieren creatief bezig zijn denk aan schilderen, en als ik
      niet droevig
      wordt van alle syntax fouten dan ook programmeren.</p>
    <figure>
      <img src="src/assets/images/chantal2.jpg" alt="foto van chantal">
      <figcaption>Foto van Chantal</figcaption>
    </figure>
    <h3>Werkervaring:</h3>
    <ul>
      <li>Doktersassistent waarvan 1 jaar in Service OK assistent</li>
      <li>Zaans Medisch Centrum</li>
      <li><i>Sep. 2016 - aug. 2019. 3 jaar</i></li>
      <li>Medewerker Bloedafname</li>
      <li>SALT Eerstelijns Diagnostisch Centrum Stichting Artsenlaboratorium en Trombosedienst</li>
      <li><i>Apr. 2016 - okt. 2016. 7 maanden</i></li>
    </ul>
    <h3>Opleiding:</h3>
    <ul>
      <li>Hogeschool van Amsterdam</li>
      <li>Bachelor's degree, Communicatie en Multimedia design.</li>
      <li><i>2019 - 2023</i></li>
      <li>Vrije Universiteit Amsterdam</li>
      <li>OK Assistente in service opleiding, Beëindigd na 1 jaar.</li>
      <li><i> 2018 - 2019 </i></li>
      <li>Regiocollege Zaandam</li>
      <li>Mbo 4, Doktersassistente, Diploma</li>
      <li><i>2012 - 2016</i></li>
      <li>Clusius College</li>
      <li>Diploma</li>
      <li><i>2008 - 2012</i></li>

      <style>
        img {
          width: 400px;
          height: 300px;
          background: red;
          position: relative;
          animation: mymove 5s infinite;
        }

        @keyframes mymove {
          0%   {top: 50px;}
          25%  {top: 0px;}
          75%  {top: 50px}
          100% {top: 100px;}
        }
      </style>
    </ul>
  </article>
