h2, h3 {
  font-family: Avenir;
  color: grey;
}



img {
  height: 15em;
  margin-bottom: 1em;
  margin-top: 1em;
  box-shadow: 5px 10px 8px #888888;

}



.logo {}

.logo2 {}


/*
hier begint de css van de Over mij pagina
*/
article.aboutme {
  text-align: left;
  padding-right: 40%;
  font-family: Avenir;
  color: grey;
  max-height: 800px;
  overflow: scroll;
}

section.blog>h4, ul {
  font-family: Avenir;
  list-style-type: none;
  padding: 0.5em;
  color: grey;
}
