
img {
  max-height: 700px;
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  box-shadow: 5px 10px 8px #888888;
}

.logo {}

.logo2 {}
