 <section>
    <article>
      <h2>Over mij:</h2>
      <p>Welkom op mijn <strong>Contactformulier</strong>, Heb je vragen of een leuke klus voor mij neem dan snel contact op!
      </p>
    </article>
    <article class="contact">
      <h2>Contactformulier</h2>
      <fieldset>
        <legend><b>Neem snel contact op</b></legend>
        <form class="contactform" action="index.html" method="get">
          <label for="username">Naam:</label>
          <input id="username" type="text" name="username" size="15" maxlength="30">
          <label for="cellnumber">Telefoonnummer:</label>
          <input id="cellnumber" type="text" name="cellnumber" size="15" maxlength="30">
          <label for="company">Bedrijf:</label>
          <input id="company" type="text" name="company" size="15" maxlength="30">
          <label for="email">Email:</label>
          <input id="email" type="email" name="email" size="15" maxlength="30">
          <label for="postalcode">Postcode:</label>
          <input id="postalcode" type="text" name="postalcode" size="15" maxlength="30">
          <label for="housenumber">Huisnummer:</label>
          <input id="housenumber" type="text" name="Housenumber" size="15" maxlength="30">
          <label for="message">Mijn vraag of opmerking</label>
          <textarea id="message" class="contactbericht"> </textarea>
          <input class="submit" type="submit" name="sendbutton" value="Verzenden">
        </form>
      </fieldset>
    </article>
  </section>
