<h1>portfolio</h1>
<header class="header">
  <nav>
    <ul class="nav">
      <li><a href="../index.html">Home</a></li>
      <li><a href="../pages/over-mij.html">Over mij</a></li>
      <li><a href="../pages/projecten.html">mijn werk</a></li>
      <li> <a href="../pages/gevolgde.vakken.html">Afgeronde vakken</a></li>
      <li><a href="../pages/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <section>
    <h2>Over mij:</h2>
    <p>Voorbeelden van mijn werk:
      voor mijn website heb ik wat nieuwe logo's aangemaakt, en daaronder beginnen de voorbeelden voorbeelden
      van mijn huiswerk voor mijn opleiding CMD.
    </p>
  </section>
  <!--Article mist header vanwege de toegepaste flexbox niet mogelijk om netjes erin weer te geven.-->
  <article class="wrap">
    <figure>
      <img src="../images/projectchantal3.svg" alt="foto van chantal">
      <figcaption>Logo</figcaption>
    </figure>
    <figure>
      <img src="../images/project4chantal.svg" alt="oefeningillustrator">
      <figcaption>Donut</figcaption>
    </figure>
    <figure>
      <img src="../images/project6.png" alt="projectvormgeving">
      <figcaption>Layout vormgeving</figcaption>
    </figure>
    <figure>
      <img src="../images/scan2.png" alt="vormen">
      <figcaption>Schetsen vormen</figcaption>
    </figure>
    <figure>
      <img src="../images/scan3.png" alt="compesities">
      <figcaption>Schetsen compositie's</figcaption>
    </figure>
    <figure>
      <img src="../images/scan4.png" alt="layouts">
      <figcaption>Schetsen layout's</figcaption>
    </figure>
    <figure>
      <img src="../images/scan5.jpg" alt="schetsen">
      <figcaption>Schetsen voedsel 1-10</figcaption>
    </figure>
    <figure>
      <img src="../images/scan6.jpg" alt="schetsen">
      <figcaption>Schetsen voedsel 11-27</figcaption>
    </figure>
    <figure>
      <img src="../images/scan7.jpg" alt="schetsen">
      <figcaption>Schetsen voedsel 28-33</figcaption>
    </figure>
  </article>
</main>
<footer class="footer">
  <p> copyright by C.C.Valk</p>
</footer>
