

img {
  height: 15em;
  margin-bottom: 1em;
  margin-top: 1em;
  box-shadow: 5px 10px 8px #888888;

}

p{
  font-family: Avenir;
  color: grey;
}



.logo {}

.logo2 {}

/*
wrap zijn de project afbeeldingen.
*/
article.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 600px;
  overflow: scroll;
}

