<h1>portfolio</h1>
<header class="header">
  <nav>
    <ul class="nav">
      <li><a href="./index.html">Home</a></li>
      <li><a href="./pages/over-mij.html">Over mij</a></li>
      <li><a href="./pages/projecten.html">mijn werk</a></li>
      <li> <a href="./pages/gevolgde.vakken.html">Afgeronde vakken</a></li>
      <li><a href="./pages/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="blog">
    <h2>Blog:</h2>
    <article>
      <div>
        <h3>Lid van Iamcore</h3>
        <p>23-08-2019</p>
      </div>
      <p>De leukste studievereniging van CMD</p>
    </article>
    <article>
      <div>
        <h3>Begonnen op opleiding</h3>
        <p>26-08-2019</p>
      </div>
      <p>Na een toolscursus begonnen op de opleiding communicatie en multimedia design.</p>
    </article>
  </section>
</main>
<footer class="footer">
  <p> copyright by C.C.Valk</p>
</footer>
