

main {
  padding: 0.1em;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Avenir Next";
  color: #000000;
  padding: 8px;
  margin: 0;

}


/*
Bron: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/
footer.footer {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
