<h1>portfolio</h1>
<header class="header">
  <nav>
    <ul class="nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/over-mij">Over mij</a></li>
      <li><a routerLink="/projecten">Projecten</a></li>
      <li><a routerLink="/resultaten">Resultaten</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="blog">
    <h2>Blog:</h2>
    <article>
      <div>
        <h3>Lid van Iamcore</h3>
        <p>23-08-2019</p>
      </div>
      <p>De leukste studievereniging van CMD</p>
    </article>
    <article>
      <div>
        <h3>Begonnen op opleiding</h3>
        <p>26-08-2019</p>
      </div>
      <p>Na een toolscursus begonnen op de opleiding communicatie en multimedia design.</p>
    </article>
  </section>
</main>
<footer class="footer">
  <p> copyright by C.C.Valk</p>
</footer>
