
img {
  height: 15em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.logo {}

.logo2 {}

/*
wrap zijn de project afbeeldingen.
*/
article.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
}

/*
  hier begint de css van het blog
  */
section.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.blog>article {
  background-color: #FFFFFF;
  border: solid 1px #000000;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 0.5em;
  background-image: url(src/assets/images/bloemen.svg);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 4em;
  box-shadow: 5px 10px 8px #888888;
}

section.blog>article>div {
  display: flex;
  justify-content: space-between;
}

section.blog>article>h4 {
  margin: 0;
}

